:root{
    --color-navegacion:#6852f4;
    --borde-caja:#e7ecee;
    --fondo-elemento:#f5f5f5;
    --color-texto-caja:rgb(31, 44, 51)
}
html::selection,
body::selection {
    background-color: var(--color-navegacion); 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    padding: 50px 80px;
}
#menu{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    
}

#menu-col1{
    flex: 30%;
}
#menu-col1 h2 a{
    font-family: "Anta", sans-serif;
    text-decoration: none;
    color:#1f2c33;
}
#menu-col2{
    flex: 40%;
}
#menu-col3{
    flex: 25%;
    text-align: center;
}
.menu-navegador li{
    display: inline;
    font-family: Inter, sans-serif;
    padding: 10px;
    
}
.menu-navegador li a{
    text-decoration: none;
    font-size: 15px;
    color: #0f0f0f;
}
.menu-navegador li a:hover{
    color: #5a43ef;
}
.menu-sesion li{
    display: inline;
    padding: 10px;
    color: #5a43ef;
}
.menu-sesion .login{
    color: #0f0f0f;
    text-decoration: none;
}
.menu-sesion .login:hover{
    color: #5a43ef;
}
.menu-sesion li a{
    text-decoration: none;
    color: #5a43ef;
    font-weight: bold;
}
.menu-sesion .fondo-bolsa{
    
    background-image: url("../img/bolsa-compras.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: top;
    
}
main{
    
    padding: 50px;
}
#contenido-portada{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    
    
}
#cabeceraMain{
    background-color: #f7fafd;
}

#contenido-columna1{
    flex: 30%;
    padding: 0 30px;
}
#contenido-columna1 h1{
    font-size: 68px;
    line-height: 68px;
}

#contenido-columna2{
    flex: 50%;
    text-align: center;
}
#contenido-columna2 img{
    width: 70%;
}
#detalle-portada{
    font-size: 24px;
    font-family: inter, sans-serif;
    line-height: 28px;
    vertical-align: baseline;
    padding:20px 0;
    color: var(--color-texto-caja);

}
#botones-portada{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
#botones-portada-columna1{
    flex: 30%;
    background-color: #6852f4;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
#botones-portada-columna1:hover{
   cursor: pointer;
    background-color: #5a43ef;
}
#botones-portada-columna2:hover{
    cursor: pointer;
    color:#0f0f0f
}

#botones-portada-columna2{
    flex: 30%;
    text-align: center;
    color: #6852f4;
    font-weight: bold;
}
#contenido-widget{
    color:rgb(31, 44, 51);
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 14px;
    padding: 60px 0 0 0;
   
}
#elementos-widget{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-size-adjust: 100%;
    overflow-wrap: break-word;
    animation: mover 10s alternate;
    
   
}
@keyframes mover {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(20px); 
       }
}
#elementos-widget img {
    width: 80%; 
    height: auto; 
}



#main-contenido{
    width: 100%;
    text-align: center;
    font-size: 48px;
    box-sizing: border-box;
    padding: 0 30px;
}
#elementos-iconos{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    text-size-adjust: 100%;
    padding: 50px 0px;
}
.elemento-estrella-borde{
    height: 50px;
  
    margin: 0 80px;
    border-left: var(--borde-caja) 1px solid;
}
#estrellas-contenedor{
    
    background-image: url("../img/digital-wp-logo.png");
    background-size: 40px;
    background-repeat: no-repeat; 
    background-position: center left;

   
}
#icono-estrella-contenedor{
    background-image: url("../img/digital-trustpilot-logo.png");
    background-size: 40px;
    background-repeat: no-repeat; 
    background-position: center left;
}
.estrellas{
    padding-left: 45px;
    
}
.estrellas ul li{
    display: inline;
    font-size: 24px;
    align-items: start;
}
.estrellas ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\2605"; 
    color: gold; 
}
#elemento-video{
    
    width: 80%;
    margin:0 auto;
}
#elemento-video iframe{
    border-radius: 10px;
    width: 100%;
    display: block;
}
#elemento-widget-contenido{
    width: 100%;
    font-weight: 600;
    text-align: center;
    font-size: 48px;
    padding: 80px 0 50px 0;
}
#elemento-widget-caja-contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#elemento-caja-icono-detalle{
    border-radius:10px;
    border:var(--borde-caja) solid 1px;
    padding: 20px;
    margin: 20px;
    background-color: #f7fafd;
}
#elemento-caja-titulo{
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    color: rgb(69, 80, 95);
}
#elemento-caja-titulo h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    padding-bottom: 10px;
}
#elemento-caja-icono-detalle:hover{
    background-color: #ffffff;
    border: var(--color-navegacion) solid 1px;
    box-shadow: 8px 8px 8px rgba(71, 71, 71, 0.2);
}
#elemento-widget-cajas{
    margin-bottom: 80px;
}
#elemento-elementos-temas{
    background-color: rgb(247, 250, 253);
}
#elementos-temas-cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 80px 30px;
}
#elementos-temas-titulo h2{
    font-size: 48px;

}
#elemento-boton-borde{
    border:solid 1px var(--color-navegacion);
    color: var(--color-navegacion);
    font-weight: 600;
    padding: 20px;
    border-radius: 7px;

}
#elemento-boton-borde:hover{
    background-color: var(--color-navegacion);
    color: #ffffff;
    font-weight: 600;
    padding: 20px;
    border-radius: 7px;
    cursor: pointer;

}

#elemento-widget-caja-imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-bottom: solid 1px var(--borde-caja);
    padding-bottom: 80px;
}
#elemento-caja-imagen-detalle{
    padding-right: 15px;
    text-align: center;
    margin-bottom: 30px;
}
#elemento-imagen-caja{
    margin-bottom: 10px;
}
h4 a{
    color: #0f0f0f;
    font-size: 16px;
    text-decoration: none;
}
h4 a:hover{
    color: var(--color-navegacion);
}
#elemento-elemento-fondo{
    
    background-image: url("../img/image-background.svg");
    background-color: rgb(31, 44, 51);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:0 0 100px 100px;
    height: 100vh;


    
}
#elemento-elementos-top{
    margin-top: 280px;
   
}

#elemento-top-detalle{
    padding-top: 60px;
    width: 80%;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;


   
    
}
#elemento-top-detalle h2{
    font-size: 46px;
}

#elemento-top-detalle p{
    padding-top: 20px;
    font-size: 18px;
}
#elemento-lista-ventas{
    padding-top: 40px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 150px;
   
   
}
#lista-ventas{
    padding: 0 30px;
    border-right: #464646 solid 1px;
    line-height: 5px;
    
}
#lista-ventas:last-child{
    border-right: none;
}
#lista-ventas p{
    font-size: 15px;

}
#elemento-top-imagen-detalle{  
    background-color: #ffffff;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    height: 100vh;
    
   
}
#elemento-imagen-icono-detalle{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  
}
#elemento-imagen-top img{
    border-radius: 20px;
    width: 80%;
}
#elemento-top-detalle-contenido h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    padding: 20px 0;
}
#elemento-top-detalle-contenido{
    width: 40%;
    margin: 0 auto;
    padding-top: 30px;
    line-height: 28px;
    
}
#elemento-top-detalle-contenido p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(69, 80, 95);
}
#elementos-top-estrellas{
    padding-top: 40px;
    width:80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    
}
#elementos-top-estrellas h4{
    font-size: 24px;
}
#elementos-top-estrellas p{
    color: #7e7c7c;
}

#elementos-top-estrellas ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content:center;
    
}
#elementos-top-estrellas ul li{
    font-size: 32px;
}
#elementos-top-estrellas ul li:before {
    content: "\2605"; 
    color: gold; 
}
#elemento-testimonio-flex{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 80%;
    margin: 0 auto; 
   
    padding: 0 20px;
  
}
#elemento-testimonio-contenido{
    padding: 20px;
    margin: 20px;
    border: solid 1px var(--borde-caja);
    border-radius: 10px;
}
#elemento-testimonio-contenido p{
   font-size: 18px;
   line-height: 28px;
   color: var(--color-texto-caja);
}

.comilla-simple-inicio::before{
    content: '\201C';
    font-size: 48px;
    color: #6852f4;
}
#elemento-avatar-imagen-detalle{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
}
#elemento-avatar-imagen img{
    border-radius: 100%;
    padding-right: 10px;
}
#elemento-avatar-detalle h5{
    color: #7e7c7c;
    font-size: 16px;
    line-height: 10px;
}
#elemento-avatar-detalle p{
    color: #7e7c7c;
    font-size: 14px;
}
#elemento-documentos{
    background-color: #f7fafd;
   
}
#elemento-documento-titulo{
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    text-align: left;
}
#elemento-documento-titulo h1{
    width: 40%;
    color: #1f2c33;
    font-size: 48px;
}
footer{

    color: var(--color-texto-caja);
    padding: 20px;
    text-align: center;
    font-size: 12px;
    bottom: 0;
}
#elemento-documentacion-icono-detalle{
    border-radius:10px;
    border:var(--borde-caja) solid 1px;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
}
#elemento-documentacion-icono-detalle:hover{
    background-color: #ffffff;
    border: var(--color-navegacion) solid 1px;
    box-shadow: 8px 8px 8px rgba(71, 71, 71, 0.2);
}
#elemento-caja-titulo p{
    padding-top: 20px;
}
#elemento-caja-titulo p a{
    color: var(--color-navegacion);
    
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    line-height: 28px;
}
#elemento-caja-titulo p a:hover{
    
    color: var(--color-texto-caja);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    line-height: 28px;
}
#elemento-compras-website{
    background-image: url("../img/image-background.svg");
    background-color: var(--color-navegacion);
    height: 50vh;
}
#elemento-compras-website-titulo{
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 28px;
}
#elemento-compras-website-boton{
    padding: 15px;
    width: 25%;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#elemento-compras-website-boton:hover {
    background-color: #1f2c33;
    color: #fdfbfb;
    box-shadow: 8px 8px 8px rgba(71, 71, 71, 0.2);
}
#elemento-compras-website-boton a:hover{
    color: #fdfbfb;
    box-shadow: 8px 8px 8px rgba(71, 71, 71, 0.2);
}

#elemento-compras-website-titulo h1,#elemento-compras-website-titulo p{
    padding-bottom: 30px;
}
.compras-boton a{
    color: var(--color-navegacion);
    text-decoration: none;
}
#elemento-footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    border-bottom: var(--borde-caja) solid 1px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    text-align: left;
    height: 50vh;
   
}
#footer-columna h4{
    color: #0f0f0f;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
}
#footer-listas li{
   font-size: 16px;
    text-decoration: none;
    list-style: none;
    padding: 5px;
}

#footer-listas li a{
    text-decoration: none;
    color: #2e2e2e;
}
#footer-listas li a:hover{
    text-decoration: none;
    color: var(--color-navegacion);
}
#footer-autores-redes{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
#footer-autores{
    font-size: 28px;
    font-weight: 600;
}
@media (width<1000px){
    #contenido-portada{
        flex-direction: column;
    }
    #elementos-widget {
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    #menu{
        flex-direction: column;
    }

    #elementos-widget figure {
        margin-bottom: 20px; 
    }
    #elemento-widget-caja-contenido{
        flex-direction: column;
    }
    #elementos-temas-cabecera{
        flex-direction: column;
        width: 30%;
        text-align: center;
    }
    #elemento-widget-caja-imagenes{
        flex-direction: column;
    }
    #elemento-top-detalle-contenido{
        width: 80%;
        
    }
    #elemento-elemento-fondo{
        flex-direction: column;
       
    }
  
    #elemento-imagen-icono-detalle{
        flex-direction: column;
    }
   
    #elemento-testimonio-flex{
        flex-direction: column;
    }
    #elemento-imagen-top img{
        width: 20%;
        text-align: center;
    }
    #elemento-elementos-top{
        margin-top: 340px;
       
    }
   

    
}